{% load static %}
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Exam Summary</title>
    </head>
    <body>
    
        <div class="container-fluid bg-primary">
            <div class="row bg-dark text-white p-2">
                <div class="col">
                    <h5>Rajiv Gandhi Proudyogiki Vishwavidyalaya Bhopal</h5>
                </div>
            </div>
            <div class="row bg-primary text-white justify-content-center p-2">
                    <h5>Exam Summary</h5>
            </div>
            
            
        </div>
        <div class="row bg-white m-5">
            <table class="table table-dark table-striped">
                <thead>
                  <tr>
                    <th>Section Name</th>
                    <th>No. of Questions</th>
                    <th>Answered</th>
                    <th>Not Answered</th>
                    <th>Marked for Review</th>
                    <th>Answered & Marked for Review ( Will be consider for evalution )</th>
                    <th>Not Visited</th>
                   </tr>
                </thead>
                <tbody class="text-center">
                  {% for section in sections %}
                  <tr>
                    <td>{{section.section_name}}</td>
                    <td>{{section.no_of_questions}}</td>
                    <td id="a{{section.id}}">a</td>
                    <td id="b{{section.id}}">b</td>
                    <td id="c{{section.id}}">c</td>
                    <td id="d{{section.id}}">d</td>
                    <td id="e{{section.id}}">e</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>  

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.0/URI.min.js"></script>
      <script>
        var components = URI.parse(window.location.href);
        var query = URI.parseQuery(components['query']);
        var v=query['v'];
        var w=query['w'];
        var x=query['x'];
        var y=query['y'];
        var z=query['z'];
        
        {% for section in sections %}
          $("#a"+{{section.id}}).html(y[{{section.id}}-1]);
          $("#b"+{{section.id}}).html(v[{{section.id}}-1]);
          $("#c"+{{section.id}}).html(w[{{section.id}}-1]);
          $("#d"+{{section.id}}).html(x[{{section.id}}-1]);
          $("#e"+{{section.id}}).html(z[{{section.id}}-1]);
        {% endfor %}
      </script>
        

   </body>
</html>