{% load static %}
{% load split %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/aecInstructions.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body oncontextmenu="return false;" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="container-fluid">
  {% for question in questions %}
  <div id="id{{question.id}}" class="container-fluid d-none">
    
    <div class="row border pl-3 pt-1 m-4">
      <h6 class="font-weight-bold" id="ques">Question No : {{question.id}}</h6>
    </div>
    <div class="row border pl-3 pt-1 m-4">
      
      <h6 class="mark h4" id="question_text">{{question.question_text}}</h6>
      <div class="col">
        <img id="quesImg" class="h-50 w-55" src="/media/{{question.ex_img}}" alt="">
      </div>
      <div id="opt" class="col p-4">
      

        {% for option in question.choices|split  %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios{{question.id}}" value="option1">
          <label class="form-check-label" for="exampleRadios{{question.id}}">{{option}}</label>
        </div>
        {% endfor %}
     
      </div>
      
    </div>

  </div>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/ques.js' %}"></script>
</body>


</html>