{% load static %}
{% load split %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/aecInstructions.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body oncontextmenu="return false;" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="container-fluid">
  {% for question in questions %}
  <div class="question container-fluid d-none">
    
    <div class="row border pl-3 pt-1 m-4">
      <div class="col-6"><h6 class="font-weight-bold">Marks fo Correct :{{question.marks}} | Marks for Incorrect : {{question.negative_marks}}</h6></div>
      <div class="col-6"><h6 class="font-weight-bold float-right">Question Type : {{question.question_type}}</h6></div>
    </div>
    <div class="row border pl-3 pt-1 m-4">
      <h6 class="font-weight-bold" id="ques">Question No : {{question.id}}</h6>
    </div>
    <div class="row border pl-3 pt-1 m-4">
      
      <h6 class="mark h5 font-weight-bold" id="question_text">{{question.question_text}}</h6>
    </div>
      <div class="row justify-content-center">
        <img id="quesImg" style="height: 50vh; width: 50vw; " src="/media/{{question.ex_img}}" alt="">
      </div>
      <div id="opt" class="row p-4">
      

        {% for option in question.choices|split  %}
        <div class="form-check font-weight-bold p-4 h5">
          <input class="option{{question.id}} form-check-input" type="radio" value="{{option}}">
          <label class="optionlabels{{question.id}} form-check-label">{{option}}</label>
        </div>
        {% endfor %}
     
      </div>
      
    

  </div>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/ques.js' %}"></script>
<script>
  var i=0,j=0;
  {% for question in questions %}
    j=0;
    {% for option in question.choices|split  %}
      document.querySelectorAll(".option{{question.id}}")[j].setAttribute("name","exampleRadios"+eval(i+1));
      document.querySelectorAll(".optionlabels{{question.id}}")[j].setAttribute("for","exampleRadios"+eval(i+1));
      j+=1;
    {% endfor %}      
    document.querySelectorAll(".question")[i].setAttribute("id","id"+eval(i+1)); 
    i+=1;
  {% endfor %}
</script>
</body>



</html>