{% load static %}
{% load split %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/aecInstructions.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body oncontextmenu="return false;" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="container-fluid">
  {% for question in questions %}
  <div id="id{{question.id}}" class="container-fluid">
    
    <div class="row border pl-3 pt-1 m-4">
      <div class="col-6"><h6 class="font-weight-bold">Marks fo Correct :{{question.marks}} | Marks for Incorrect : {{question.negative_marks}}</h6></div>
      <div class="col-6"><h6 class="font-weight-bold float-right">Question Type : {{question.question_type}}</h6></div>
    </div>
    <div class="row border pl-3 pt-1 m-4">
      
        <h6 class="mark h4 font-awesome font-weight-bold" id="question_text">{{question.question_text}}</h6>
      </div>
        <div class="row justify-content-center">
          <img id="quesImg" style="height: 50vh; width: 50vw;" src="/media/{{question.ex_img}}" alt="{{question.id}}">
      </div>
    <div id="opt" class="row font-weight-bold p-4 h5">
        {% for option in question.choices|split  %}
            <h6 class="p-2">{{option}}</h6>
        {% endfor %}
    </div>
      
    

  </div>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/ques.js' %}"></script>
</body>


</html>