<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/aecInstructions.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <title>Online Exam</title>
      <style>
        body{
            overflow-x: hidden;
        }
      .container-fluid{
          height: 685px;
      }
      </style>
   </head>
   <body>
      <div class="container-fluid p-0">
        <div class="row bg-dark text-white font-weight-bold p-3">
            <div class="col text-warning"><i class="fa fa-book pr-2 mt-1" aria-hidden="true"></i> Subject : Information Technology</div>
            <div class="col d-flex justify-content-center"><i class="fa fa-pencil-square-o pr-2 mt-1" aria-hidden="true"></i> Instructions</div>
            <div class="col d-flex justify-content-center"><i class="fa fa-question-circle pr-2 mt-1" aria-hidden="true"></i> Questions</div>
          </div>
         <div class="row h-100">
             <div class="col-10">
                <div class="row border p-1 bg-white font-weight-bold text-white">
                    <div class="col">
                        <a class="btn border btn-white text-primary active"><i class="fa fa-bookmark-o" aria-hidden="true"></i> Section I</a>
                    </div>
                    <div class="col">
                        <a class="btn border float-right"><i class="fa fa-calculator text-warning" aria-hidden="true"></i></a>
                    </div>
                </div>  
                <div class="row border p-1 bg-white font-weight-bold text-white">
                    <div class="col">
                        <a class="btn border btn-white text-primary active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Aptitude </a>
                        <a class="btn border btn-white text-primary active"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Aptitude </a>
                    </div>
                    <div class="col">
                        <a class=" float-right"><i class="fa fa-clock-o text-warning" aria-hidden="true"></i> <p id="timer" class="d-inline text-warning"></p></a>
                    </div>
                </div>
                <div class="row ml-1 mark bg-white">
                    <div class="col text-danger">
                        <small><b>Question Type : MCQ</b></small>
                    </div>
                    <div class="col">
                        <small class="float-right">Marks for Correct Answer 4 | Marks for Wrong Answer -1</small>
                    </div>
                </div> 
                <div class="row h-100">
                    <div class="col">
                        <iframe id="iframeId" class="w-100 h-100" src="{% url 'exam:iframe' %}"></iframe>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <button id="PreviousInst" class="btn btn-white border float-left m-3">Mark for Review & Next</button>
                        </div>
                        <div class="col">
                        <button id="readylink" class="btn btn-white border m-3 ml-auto">Clear Response</button>
                        </div>
                    <div class="col">
                        <button id="instPagination" class="btn border float-right m-3">Save & Next</button>
                    </div>  
                </div>
        
                
             </div>
             <div class="col-2 ml-0 pl-0 bg-white">
                <video id="video" class="border rounded border-dark" width="300" height="200" autoplay></video>
                <div class="row mr-0 ml-0 instruction_area w-100">
                       <div class="row w-100">
                          <div class="col p-0">
                              <small><span class="not_visited" title="Not Visited">1</span>Not Visited </small>
                            </div> 
                          <div class="col p-0">
                            <small><span class="not_answered" title="Not Answered">2</span> Not Answered</small> 
                            </div>
                       </div>
                       <div class="row w-100">
                        <div class="col p-0">
                            <small><span class="answered" title="Answered">3</span>Answered</small>
                          </div> 
                        <div class="col">
                        <small><span class="review" title="Marked for Review">4</span> Marked For Review</small>
                          </div>
                     </div>
                     <div class="row w-100">
                        <small><span class="review_marked_considered" title="Answered &amp; Marked for Review">5</span>Answered & Marked for Review Consider for Evalution</small>
                     </div>
                
                 </div>

                <div class="row bg-white text-primary border mt-3 p-1    justify-content-center">
                    <h6><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Aptitude</h6>
                </div>
                <div class="row m-3">
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>
                    <a class="not_visited">1</a>

                    
                </div>

                <div class="row bg-white text-primary mt-3 p-1 justify-content-center">
                    <button class="btn btn-success disable"><i class="fa fa-check-square-o" aria-hidden="true"></i> Submit</button>
                </div>
                
             </div>
         </div>
         
         
         
      </div>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get today's date and time
          var now = new Date().getTime();
            
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
            
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
          // Output the result in an element with id="timer"
          document.getElementById("timer").innerHTML = days + "d " + hours + "h "
          + minutes + "m " + seconds + "s ";
            
          // If the count down is over, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("timer").innerHTML = "EXPIRED";
          }
        }, 1000);
        </script>
      <script>
         const constraints = {
           video: true
         };
         
         const video = document.querySelector('video');
         
         navigator.mediaDevices.getUserMedia(constraints).then((stream) => {video.srcObject = stream});
      </script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   </body>
</html>