{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aecInstructions.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Online Exam</title>
    
    <style>
        body {
            overflow-x: hidden;

        }
        .container-fluid {
            height: 685px;
        }
    </style>
</head>

<body>
    <div id="overlay" class="container-fluid d-none w-100 h-100">
        <div id="overlayframe">
            <div id='close'>X</div> 
            <div id="overlayframe1"></div>
        </div>
        

    </div>
    <div id="main" class="container-fluid p-0">
        <div class="row bg-dark text-white font-weight-bold p-3">
            <div class="col text-warning"><i class="fa fa-book pr-2 mt-1" aria-hidden="true"></i> Subject : {{exam.subject_name}}</div>
            <div id="instructions" class="col d-flex justify-content-center"><i class="fa fa-pencil-square-o pr-2 mt-1" aria-hidden="true"></i> Instructions</div>
            <div id="questiontab" class="col d-flex justify-content-center"><i class="fa fa-question-circle pr-2 mt-1" aria-hidden="true"></i> Questions</div>
        </div>
        <div class="row h-100">
            <div class="col-10">
                <div class="row border p-1 bg-white font-weight-bold text-white">
                    <div class="col">
                        <a class="btn border btn-white text-primary active"><i class="fa fa-bookmark-o"
                                aria-hidden="true"></i> {{exam.subject_name}}</a>
                    </div>
                    <div class="col">
                        <a id="calculator" class="btn border float-right"><i class="fa fa-calculator text-warning" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row border p-1 bg-white font-weight-bold text-white">
                    <div class="col">
                        {% for sectionname in sectionnames %}
                        <a class="btn border btn-white text-primary active"><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i> {{sectionname.section_name}} </a>
                        {% endfor %}
    
                    </div>
                    <div class="col">
                        <a class=" float-right"><i class="fa fa-clock-o text-warning" aria-hidden="true"></i>
                            <p id="timer" class="d-inline text-warning"></p>
                        </a>
                    </div>
                </div>
                <div class="row ml-1 mark bg-white">
                    <div class="col text-danger">
                        <small><b>Question Type : <span id="quesType">MCQ</span></b></small>
                    </div>
                    <div class="col">
                        <small class="float-right">Marks for Correct Answer <span id="quesMarks"></span> | Marks for Wrong Answer <span id="NegetivequesMarks">-1</span> </small>
                    </div>
                </div>
                <div class="row h-100">
                    <div class="col">
                        <iframe id="iframeid" class="w-100 h-100" src="{% url 'exam:iframe' uid %}"></iframe>
                    </div>
                </div>
                <div class="row ">
                    <div class="col">
                        <button id="reviewNext"class="btn btn-white border float-left m-3">Mark for Review & Next</button>
                    </div>
                    <div class="col">
                        <button id="clearResponse" class="btn btn-white border m-3 ml-auto">Clear Response</button>
                    </div>
                    <div class="col">
                        <button id="saveNext" class="btn border float-right m-3">Save & Next</button>
                    </div>
                </div>


            </div>
            <div class="col-2 ml-0 pl-0 bg-white">
                <video id="video" class="border rounded border-dark" width="300" height="200" autoplay></video>
                <div class="row mr-0 ml-0 instruction_area w-100">
                    <div class="row w-100">
                        <div class="col p-0">
                            <small><span class="not_visited" title="Not Visited">1</span>Not Visited </small>
                        </div>
                        <div class="col p-0">
                            <small><span class="not_answered" title="Not Answered">2</span> Not Answered</small>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col p-0">
                            <small><span class="answered" title="Answered">3</span>Answered</small>
                        </div>
                        <div class="col">
                            <small><span class="review" title="Marked for Review">4</span> Marked For Review</small>
                        </div>
                    </div>
                    <div class="row w-100">
                        <small><span class="review_marked_considered"
                                title="Answered &amp; Marked for Review">5</span>Answered & Marked for Review Consider for Evalution</small>
                    </div>

                </div>

                <div class="row bg-white text-primary border mt-3 p-1 justify-content-center">
                    <h6><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Aptitude</h6>
                </div>
                
                <div class="row m-3">
                    
                    {% for question in questions %}
                    <a class="normal not_visited" onclick="$panelClick($(this));" id="panel{{question.id}}">{{question.id}}</a>
                    {% endfor %}
                </div>
                <div class="row bg-white text-primary mt-3 p-1 justify-content-center">
                    <button id="submitBtn" class="btn btn-success"><i class="fa fa-check-square-o" aria-hidden="true"></i>Submit</button>
                </div>

            </div>
        </div>



    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/ques.js' %}"></script>
    <script>
         var maxx= {{questions.count}};
         $("#instructions").click(function(){
        $("#overlay").removeClass("d-none");
        $("#overlayframe1").html("<iframe id='iframeId' src='{% url 'exam:iframe' uid %}' style='height:100%;width:100%;border:none;border-bottom:1px #CCC solid;'></iframe>");
    });
    </script>
    
   
    
    
</body>

</html>