{% load static %}
{% load rangeFun %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/aecInstructions.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Online Exam</title>
    
    <style>
        body {
            overflow-x: hidden;

        }
        .container-fluid {
            height: 685px;
        }
        ::backdrop {
            background-color: white;
        }
    </style>
</head>

<body onload="$body()" oncontextmenu="return false;">
    <div id="overlay" class="container-fluid d-none w-100 h-100">
        <div id="overlayframe">
            <div id='close'>X</div> 
            <div id="overlayframe1"></div>
        </div>
        

    </div>
    <div id="main" class="container-fluid p-0">
        <div class="row bg-dark text-white font-weight-bold p-2">
            <div class="col text-warning"><i class="fa fa-book pr-2 mt-1" aria-hidden="true"></i> Subject : {{exam.subject_name}}</div>
            <div id="instructions" class="col d-flex justify-content-center"><i class="fa fa-pencil-square-o pr-2 mt-1" aria-hidden="true"></i> Instructions</div>
            <div id="questiontab" class="col d-flex justify-content-center"><i class="fa fa-question-circle pr-2 mt-1" aria-hidden="true"></i> Questions</div>
            <a id="submitBtn" onclick="$submitBtn()" class="btn btn-success p-1 mr-4"><i class="fa fa-check-square-o" aria-hidden="true"></i>Submit</a>
        </div>
        {% for section in sections %}
        <div id="section{{section.id}}" class="row h-100 d-none">
            <div class="col-10">
                <div class="row border p-1 bg-white font-weight-bold text-white">
                    <div class="col">
                        <button class="btn border btn-white text-primary focus"><i class="fa fa-bookmark-o" aria-hidden="true"></i> {{exam.subject_name}}</button>
                    </div>
                    <div class="col">
                        <a id="calculator" class="btn border float-right"><i class="fa fa-calculator text-warning" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="row border p-1 bg-white font-weight-bold text-white">
                    <div class="col">
                        {% for secid in sections %}
                        <button id="sectionBtn{{section.id}}{{secid.id}}" onclick="$sectionClick($(this));"  class="btn border btn-white text-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{secid.section_name}}</a>
                        {% endfor %}
                        
                    </div>
                    <div class="col">
                        <a class=" float-right"><i class="fa fa-clock-o text-warning" aria-hidden="true"></i>
                            <p id="timer" class="d-inline text-warning"></p>
                        </a>
                    </div>  
                </div>
                
                <div class="row h-100">
                    <div class="col">
                        <iframe id="iframeid" class="w-100 h-100" src="{% url 'exam:iframe' uid %}?section={{section.id}}"></iframe>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button id="reviewNext" onclick='$reviewNext()' class="btn btn-white border float-left m-3">Mark for Review & Next</button>
                    </div>
                    <div class="col">
                        <button id="clearResponse" onclick='$clearResponse()' class="btn btn-white border m-3 ml-auto">Clear Response</button>
                    </div>
                    <div class="col">
                        <button id="saveNext" onclick='$saveNext()' class="btn border float-right m-3">Save & Next</button>
                    </div>
                </div>


            </div>
            <div class="col-2 ml-0 pl-0 bg-white">
                <video id="video{{section.id}}" class="border rounded border-dark" width="300" height="200" autoplay></video>
                <div class="row mr-0 ml-0 instruction_area w-100">
                    <div class="row w-100">
                        <div class="col p-0">
                            <small><span class="not_visited" title="Not Visited">1</span>Not Visited </small>
                        </div>
                        <div class="col p-0">
                            <small><span class="not_answered" title="Not Answered">2</span> Not Answered</small>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col p-0">
                            <small><span class="answered" title="Answered">3</span>Answered</small>
                        </div>
                        <div class="col">
                            <small><span class="review" title="Marked for Review">4</span> Marked For Review</small>
                        </div>
                    </div>
                    <div class="row w-100">
                        <small><span class="review_marked_considered"
                                title="Answered &amp; Marked for Review">5</span>Answered & Marked for Review Consider for Evalution</small>
                    </div>

                </div>

                <div class="row bg-white text-primary border mt-3 p-1 justify-content-center">
                    <h6><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{section.section_name}}</h6>
                </div>
                
                <div class="row m-3">   
                    {% for id in section.no_of_questions|rangeFun %}
                     <a class='normal not_visited' onclick='$panelClick($(this));' id='panel{{id}}'>{{id}}</a>
                    {% endfor %}
                </div>
                

            </div>
        </div>
        {% endfor %}

    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    <script>
    
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

        const canvas = document.createElement('canvas'); // canvas for random ss
        let random_time = Math.floor(Math.random() * 120) + 10; //random ss time

        {% for section in sections %}
                rtvideo{{section.id}} = document.getElementById('video'+"{{section.id}}"); // real time video

                navigator.mediaDevices.getUserMedia({ video: true}).then((stream) => {
                rtvideo{{section.id}}.srcObject = stream; });
        {% endfor %}
        rtvideo = document.getElementById('video1'); // real time video

        navigator.mediaDevices.getUserMedia({ video: true}).then((stream) => {
            rtvideo.srcObject = stream;
            setTimeout(user_ss, random_time*1000);
        });//video stream start
        
        // for random user ss
        function user_ss() {
            canvas.width = rtvideo.videoWidth;
            canvas.height = rtvideo.videoHeight;
            canvas.getContext('2d').drawImage(rtvideo, 0, 0);
            // img.src = canvas.toDataURL('image/png');
            data = new FormData();
            data.append('file', canvas.toDataURL('image/png'));
            $.ajax({
              url: "/exam/uploadimage/{{uid}}/",
              type: "POST",
              data: data,
              enctype: 'multipart/form-data',
              processData: false,  // tell jQuery not to process the data
              contentType: false   // tell jQuery not to set contentType
            }).done(function(data) {
                console.log("ss send");
            });
            random_time = Math.floor(Math.random() * 120) + 10;
            console.log(random_time);
            setTimeout(user_ss, random_time * 1000);
        }

        const elem = document.body;
        let is_fullscreen = false;
        let is_loaded = false;
        // to check if user changed window or tab
        window.onfocus = function () {
            is_loaded =true;
        };

        window.onblur = function () {
            console.log("exited Full screen");
        };
        
        // to check if user exited full screen
        if (document.addEventListener) {
            document.addEventListener('fullscreenchange', exitHandler, false);
            document.addEventListener('mozfullscreenchange', exitHandler, false);
            document.addEventListener('MSFullscreenChange', exitHandler, false);
            document.addEventListener('webkitfullscreenchange', exitHandler, false);
        }

        function exitHandler() {
            if (document.webkitIsFullScreen || document.mozFullScreen || document.msFullscreenElement !== null) {
                is_fullscreen = !is_fullscreen;
                if (!is_fullscreen) {
                    $.ajax({
                    url: "/exam/warningupdate/{{uid}}/",
                    type: "POST",
                    data: {'cheating_type':'fullscreenexit'},
                    }).done(function(data){
                        console.log(data.status=="submit")
                        if (data.status=="submit"){
                            document.getElementById('submitBtn').click();
                        }
                        
                    });
                    alert('you are not allowded to exit fullscreen');
                    $("#overlay").removeClass("d-none");
                    $("#overlayframe1").html("<button id='fullscreenbutton' class='btn btn-success' onclick='$openFullscreen();'>Allow Camera and Fullscreen Mode</button>");
                    $("#close").hide();
                
                }
            }
        }
        ///////////////////    
        var z=[],y=[],xx=[],w=[],v=[];
        

        var i=[];
        {% for section in sections %}
            var maxx{{section.id}}= {{section.no_of_questions}};
            i[{{section.id}}]=1;
            z[{{section.id}}]=0;
            y[{{section.id}}]=0;
            xx[{{section.id}}]=0;
            w[{{section.id}}]=0;
            v[{{section.id}}]=0;
        {% endfor %}
        var iid= "{{uid}}"


        $(document).ready(function() {
        
        
        //Timer function
        var countDownDate = new Date("{{end_time}}").getTime();
        var x = setInterval(function() {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        $("#timer").html(days + "d " + hours + "h " + minutes + "m " + seconds + "s ");
        if (distance < 0) {
            clearInterval(x);
            $("#timer").html("EXPIRED");
        }
        }, 1000);

        

        //Full Screen & camera

        var camera;
        navigator.permissions.query({name: "camera"}).then(({state}) => { camera = state });

        $openFullscreen = function(){
            console.log(camera);
            navigator.permissions.query({name: "camera"}).then(({state}) => { camera = state });
            if(camera=="granted"){
                $("#overlay").addClass("d-none");
                $("#close").show();
                if (elem.requestFullscreen) {
                    elem.requestFullscreen();
                } else if (elem.mozRequestFullScreen) { /* Firefox */
                    elem.mozRequestFullScreen();
                } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari & Opera */
                    elem.webkitRequestFullscreen();
                 }else if (elem.msRequestFullscreen) { /* IE/Edge */
                    elem.msRequestFullscreen(); }
            }
            else{
                
                alert("Allow Camera than Click !")
            }
        }
        
        $body = function(){
            $("#overlay").removeClass("d-none");
            $("#overlayframe1").html("<button id='fullscreenbutton' class='btn btn-success' onclick='$openFullscreen();'>Allow Camera and   Full Screen</button>");
            $("#close").hide();
        };

        //Calculator

        $("#calculator").click(function(){
            $("#overlay").removeClass("d-none");
            $("#overlayframe1").html("<iframe src=https://widgetscode.com/wc/sciv/all?skin=nb1 style='width:560px;height:670px;margin:0;'frameborder=0></iframe>");
            
        });

        //Instruction Tab
        $("#instructions").click(function(){
            $("#overlay").removeClass("d-none");
            $("#overlayframe1").html("<iframe id='iframeoverlay' src='{% url 'exam:instructions' uid %}' style='height:800px;width:1200px;border-bottom:2px #CCC solid;'></iframe>");
        });

        //questionstab 
        $("#questiontab").click(function(){
            $("#overlay").removeClass("d-none");
            $("#overlayframe1").html("<iframe id='iframeoverlay' src='{% url 'exam:iframe1' uid %}' style='height:800px;width:1200px;border-bottom:2px #CCC solid;'></iframe>");
        });
        //closetab for overlay items
        $("#close").click(function(){
            $("#overlay").addClass("d-none");
        });

        //pannel design logic
        
        var sectionid=1;
        $("#section"+sectionid).removeClass("d-none");
        $("#sectionBtn"+sectionid+sectionid).addClass("focus");
        $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass("not_visited");
        $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("not_answered");
        $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).removeClass("d-none");
    
        $sectionClick =function($this){
            $("#section"+sectionid).addClass("d-none");
            $("#sectionBtn"+sectionid+sectionid).removeClass("focus");
            sectionid=parseInt($this.attr('id').replace('sectionBtn'+sectionid, ''));
            // console.log(sectionid);
            $("#section"+sectionid).removeClass("d-none");
            $("#sectionBtn"+sectionid+sectionid).addClass("focus");
            $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass("not_visited");
            $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("not_answered");
            $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).removeClass("d-none");
            
        }
        
        $reviewNext = function(){
            console.log("clicked");
            $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass();
            if($("#section"+sectionid).find("#iframeid").contents().find("input[name=exampleRadios"+i[sectionid]+"]").is(":checked")){
                var favorite = "";
                $.each($("#section"+sectionid).find("#iframeid").contents().find("input[name=exampleRadios"+i[sectionid]+"]:checked"), function(){
                favorite+=$(this).val(); });
                console.log(favorite);
                $.ajax({
                    url: "/exam/response/{{uid}}/",
                    type: "POST",
                    data: {'question':i[sectionid],'response':favorite},
                    });
                $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("normal answer_marked");
            }else{
                $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("normal marked");
            }
            $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).addClass("d-none");
            
            i[sectionid]+=1;
        
            if(i[sectionid]==eval("maxx"+sectionid)){
                $("#section"+sectionid).find("#reviewNext").addClass("disabled");
                $("#section"+sectionid).find("#saveNext").html("Save");
            }
            $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).removeClass("d-none");
            if($("#section"+sectionid).find("#panel"+i[sectionid]).hasClass("not_visited")){
                $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass("not_visited");
                $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("not_answered");
            }
            
        };
        $clearResponse = function(){
            $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass();
            $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("normal not_answered");
            $("#section"+sectionid).find("#iframeid").contents().find("input[name=exampleRadios"+i[sectionid]+"]").prop("checked", false);
        };
        $panelClick =function($this) {
            $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).addClass("d-none");
            i[sectionid] = parseInt($this.attr('id').replace('panel', ''));
            $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).removeClass("d-none");
            if($("#section"+sectionid).find("#panel"+i[sectionid]).hasClass("not_visited")){
                $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass("not_visited");
                $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("not_answered");
            }
            if(i[sectionid]==eval("maxx"+sectionid)){
                $("#section"+sectionid).find("#reviewNext").addClass("disabled");
                $("#section"+sectionid).find("#saveNext").html("Save");
            }else{
                $("#section"+sectionid).find("#saveNext").html("Save & Next");
                $("#section"+sectionid).find("#reviewNext").removeClass("disabled");
                $("#section"+sectionid).find("#saveNext").removeClass("disabled");
            }

        };
        
        $saveNext = function(){
            $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass();
            if($("#section"+sectionid).find("#iframeid").contents().find("input[name=exampleRadios"+i[sectionid]+"]").is(":checked")){
                var favorite = "";
                $.each($("#section"+sectionid).find("#iframeid").contents().find("input[name=exampleRadios"+i[sectionid]+"]:checked"), function(){
                favorite+=$(this).val(); });
                console.log(favorite);
                $.ajax({
                    url: "/exam/response/{{uid}}/",
                    type: "POST",
                    data: {'question':i[sectionid],'response':favorite},
                    });


                $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("normal answered");
            }
            else{
                $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("normal not_answered");
            }
            
            if(i[sectionid]!=eval("maxx"+sectionid)){
                $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).addClass("d-none");
                i[sectionid]+=1;
                if(i[sectionid]==eval("maxx"+sectionid)){
                    $("#section"+sectionid).find("#reviewNext").addClass("disabled");
                    $("#section"+sectionid).find("#saveNext").html("Save");
            
                }
                $("#section"+sectionid).find("#iframeid").contents().find("#id"+i[sectionid]).removeClass("d-none");
                if($("#section"+sectionid).find("#panel"+i[sectionid]).hasClass("not_visited")){
                    $("#section"+sectionid).find("#panel"+i[sectionid]).removeClass("not_visited");
                    $("#section"+sectionid).find("#panel"+i[sectionid]).addClass("not_answered");
                }
            }

        };
        $submitBtn = function(){
            {% for section in sections %}
            {% for id in section.no_of_questions|rangeFun %}
                if($("#section"+sectionid).find("#panel"+{{id}}).hasClass("not_visited")){
                    z[{{section.id}}]+=1;
                }else
                if($("#section"+sectionid).find("#panel"+{{id}}).hasClass("answered")){
                    y[{{section.id}}]+=1;
                }else
                if($("#section"+sectionid).find("#panel"+{{id}}).hasClass("answer_marked")){
                    xx[{{section.id}}]+=1;
                }else
                if($("#section"+sectionid).find("#panel"+{{id}}).hasClass("marked")){
                    w[{{section.id}}]+=1;
                }else
                if($("#section"+sectionid).find("#panel"+{{id}}).hasClass("not_answered")){
                    v[{{section.id}}]+=1;
                }
                
            {% endfor %}
        {% endfor %}
        
        $("#submitBtn").attr('href',"{% url 'exam:examsummary' uid %}?z="+z.join('')+"&y="+y.join('')+"&x="+xx.join('')+"&w="+w.join('')+"&v="+v.join(''));

        };
      
    });
    is_loaded = true;
   
    </script>
      
    
   
    
    
</body>

</html>